  html {
    background-color: rgb(21, 151, 226);
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    width: max-content; 
  }

  main {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    padding-right: 20px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 15px;
    
  }

  .hino {
    font-style: italic;
  }

  /*Tables*/
  caption {
    font-size: 24px;
    font-weight:bold;
  }
  tbody {
     background-color: white;
  }
  dl {
    background-color: white;
  }
  dt {
    font-size: 32px;
    font-weight: bold;
  }
  th {
    background-color: black;
    color: white;
    font-size: 28px;
  }
  /**/


  #estadios {
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
  }

  /*Navigation Bar*/
  header {
    text-align: center;
  }

  .nav {
    display: inline-block;
    background: white;
    padding: 12px;
    border: 3px solid black;
  }
  .navbar-item {
    margin-left: 20px;
    font-family: Verdana;
    font-size: 20px;
  }
  .navbar-item:hover {
    background: rgb(21, 151, 226);
  }
  /**/

  .escudo {
    margin-left: 0px;
  }
  
