:root {
    --main-bg-color: rgb(30, 30, 30);
  }

.bodydark {
    background-color: var(--main-bg-color);
}

.main-nav {
    background-color: slategray;
}

.aux-bar {
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    /* height: 50px; */
}

.main-block {
    background-color: var(--main-bg-color);
}

.color-blocks {
    align-self: center;
    /* width: 30%; */

}

.color {
    border: 2px solid black;
    height: 120px;
    color: black;
    font-size: 1.4rem;
}

.highlight{
    filter: brightness(1.2);
    border: 0;
}

.hide {
    color: transparent;
}

#result {
    width: 120px;
}

#rgb-model{
    height: 180px;
    border: solid black 2px;
}

.chosen-diff {
    background: slategray;
}