
/*
        TO-DO: CREATE HOVER IN SPAN (BUTTONS)
*/

:root {
    --main-bg-color: rgb(30, 30, 30);
}


.bodydark {
    background-color: var(--main-bg-color);
    font-family: "avenir";
}

.main-nav {
    background-color: slategray;
}

.aux-bar {
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.main-block {
    background-color: var(--main-bg-color);
}

.color-blocks {
    align-self: center; 
}

.color {
    height: 140px;
    color: black;
    font-size: 1.4rem;
    border-radius: 15%;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
}

.highlight{
    filter: brightness(1.2);
    border: 0;
}

.hide {
    color: transparent;
}

#result {
    width: 120px;
}

#rgb-model{
    height: 120px;
    border: solid black 2px;
}

.chosen-diff {
    background: slategray;
    /* transition: all 2.0s; */
}

#guessThisRgb {
    text-transform: uppercase;
}


/* CREATE THE SQUARES BY UDEMY
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
} */