#app {
    background-color: ivory;
}
.health-bar {
    border: 1px solid black;
    height: 25px;
    }

.block {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    height: 15%;
    }

.bars {
    display:flex;
    justify-content: space-evenly;
}
.log {
    height: fit-content;
}
li {
    list-style: none;
}
