<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="slayer.css">
    <title>Vue Training</title>
</head>
<body>
    <main id="app">


    <div class="block score">
    
        <div class="bars">

            <div>
                <h2>Slayer</h2>
                <div class="health-bar" :style="slayerHealthBar">
                {{ slayerHealth }}
                </div>
            </div>

            <div>
                <h2>Monster</h2>
                <div class="health-bar" :style="monsterHealthBar">
                {{ monsterHealth }}
                </div>
            </div>

        </div>
    </div>

    <div class="block controls">
        <button class="btn btn-green" v-if="!isActive" @click="newGame">Start New Game</button>
        <template v-if="isActive">
            <button class="btn btn-yellow" @click="attack('regular')">Attack (0-3 dmg)</button>
            <button class="btn btn-red" @click="attack('special')">Special Attack (0-10 dmg)</button>
            <button class="btn btn-green" @click="heal">Heal (4-8 health)</button>
            <button class="btn btn-white" @click="giveUp">Give Up</button>
        </template>
    </div>

    <div class="block log">

        <div :class="result">
            <h3>{{ result }}</h3>
        </div>

        <ul>
            <li v-for="item in log">
                {{ item }}
            </li>
        </ul>
    </div>

    </main>
    <script src="slayer.js"></script>
</body>
</html>