<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="slayer.css">
    <title>Vue Training</title>
</head>
<body>
    <main id="app">

    <h1>THE MONSTER SLAYER</h1>

    <div class="block score">
        <h2>Score</h2>

        <div class="bars">
            Slayer
            <div class="health-bar" :style="slayerHealthBar">
                {{ slayerHealth }}
            </div>

            Monster
            <div class="health-bar" :style="monsterHealthBar">
                {{ monsterHealth }}
            </div>
        </div>

    </div>

    <div class="block controls">
        <h2>Pick your Action</h2>
        <button v-if="!isActive" @click="newGame">Start New Game</button>
        <template v-if="isActive">
            <button @click="attack('regular')">Attack (0-3 dmg)</button>
            <button @click="attack('special')">Special Attack (0-10 dmg)</button>
            <button @click="heal">Heal (4-8 health)</button>
            <button @click="giveUp">Give Up</button>
        </template>
    </div>

    <div class="block log">
        <h2>Action Log:</h2>

        <div :class="result">
            <h3>{{ result }}</h3>
        </div>

        <ul>
            <li v-for="item in log">
                {{ item }}
            </li>
        </ul>
    </div>

    </main>
    <script src="slayer.js"></script>
</body>
</html>