body {
    background: whitesmoke;
    color: blue;
}

html {
    font-size: 20px;
}

div {
    width: 450px;
    margin: 100px auto;
    padding: 25px;
    border: 3px dashed black;
    text-align: center;
}

ul {
    list-style: circle;
    text-align: left;
}