/* * BASIC HTML */
body {
    /* background: linear-gradient(90deg, rgba(127,159,233,1) 0%, rgba(87,83,255,1) 51%, rgba(71,22,200,1) 100%); */
    background: linear-gradient(90deg, rgba(71,22,200,1) 0% , rgba(87,83,255,1) 51% , rgba(127,159,233,1) 100%);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/* * CONTAINER */
#container {
    width: 25%;
    background: white;
    padding-bottom: 2%;
    margin: 100px auto;
    box-shadow:  rgba(71,22,200,1) 3px 3px 6px;
}
/* INCREASING CONTAINER WIDTH FOR SMALLER VIEWPORT */
@media screen and (max-width: 600px) {
    #container {
      width: 50%;
    }
  }

/* * HEADER */
header {
    background-color: royalblue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-weight: 500;
}

/* * TEXT INPUT */
input {
    width: 100%;
    /* BOX SIZING PREVENTS BOX FROM SPILLING FROM DIV */
    box-sizing: border-box;
    height: 30px;
    font-size: 18px;
    background: ghostwhite;
    color: royalblue
}

/* * LISTS */
ul {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px lightgrey;
    list-style: none;
}
li {
    height: 24px;
    line-height: 24px;
    padding: 4px 6px;
    /* ENABLE SLIDE */
    position: relative;
    overflow: hidden;
}
/* ALTERNATE LINE COLORS */
li:nth-of-type(even){
    background: whitesmoke;
}

/* * EFFECTS */
.marked {
    text-decoration: line-through;
    color: grey;
}

/* TODO FIX TRASH CAN WIDTH AFTER HOVER */
/* TODO FIX POSITION RELATIVE TRANSITION TIME */
/* TRASH CAN SLIDE */
.slide {
    position: absolute;
    left: -24px;
    width: 24px;
    height: 100%;
    transition: 1s;
    background: red;
    color: ivory;
    text-shadow: none;
    /* font-size: 18px; */
    padding-left: 0;
    /* border: 1px solid grey; */
}
li:hover .slide {
    transition: 1s;
    left: -6px;
    position: relative;
}
/* INCREASE ICON WIDTH*/
.fas {
    width: 24px;
    height: 100%;
}

/* CHANGE INPUT FOCUS */
input:focus {
    background: white;
    border: 3px solid royalblue;
    outline: none;
}