
body {
    background: rgb(30,142,224);
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

h2 {
    color: white;
    font-size: 3rem;
    font-weight: 500;  
}

i {
    color: white;
}

p {
    color: white;
    line-height: 2;
    margin-bottom: 0px;
 }

 .portion {
    margin-top: 100px;
 }

#mainNavbar {
    font-size: 1.8em;
    font-weight: 700;
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 2.2rem;
    font-weight: 700;
}


#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: black;
    /* border-bottom: 3px solid black; */
}

#tituloMuseu h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

#tituloMuseu span {
    color: white;
}

.navbar.scrolled {
    background-color: rgba(100, 148, 237, 0.75);
    transition: 500ms;
}

@media (max-width: 1200px) {
    #tituloMuseu h1  {
    font-size: 2.8rem;
    }
}

