body {
    background: whitesmoke;
    color: navy;
    font-size: larger;
}

div {
    width: 35%;
    margin: 50px auto;
    border: 2px solid black;
    background: steelblue;
}

h1 {
    width: 360px;
    border: 1px solid black;
    text-align: center;
    background: grey;
    margin: 20px auto;
}

ul:nth-of-type(odd){
    background: ivory;
    padding: 10px 30px;
}

li {
    list-style: none;
}