body {
    background: whitesmoke;
    color: navy;
    font-size: larger;
}

.container {
    width: 40%;
    margin: 50px auto;
    border: 2px solid black;
    background: steelblue;
}

h1 {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background: grey;
    margin: 20px auto;
}

ul:nth-of-type(odd){
    background: ivory;
    padding: 10px 30px;
}

li {
    list-style: none;
}

#movieDetailBlock {
    width: 100%;
}

#movieDetailBlock li img {
    display: flex;
    margin: 0 auto;
    border: 3px solid black;
    margin-bottom: 20px;
}

.hgl {
    font-size: 1.5rem;
}

.plot {
    font-style: italic;
}

.warning {
    color: red;
    background: yellow;
    border: 2px solid red;
}