<%- include("../partials/header") %>

<div class="container mt-3">
    <div class="formStyle">
        <h2 class="text-center">Add New Comment to <%= campground.name %></h2>
        <form class="createComment" action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <label for="author">Author</label>
                <input class="form-control" type="text" name="comment[author]" id="author">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" name="comment[text]" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Comment</button>
        </form>
    </div>
    <br>
    <a href="/campgrounds">Go Back</a>
</div>

<%- include("../partials/footer") %>