<%- include("partials/header") %>


<div class="landing-bg">
    <div class="landing-text">
        <p class="title">YelpCamp</p>
        <p class="link"><a href="campgrounds">Get Started Here</a></p>
    </div>
</div>

<%- include("partials/footer") %>