
body {
    background-color: #33BEFF;
    font-size: 1.6rem;
}

.jogadores {
    background-color: cornflowerblue;
}

.dark {
    background-color: black;
    color: white;
    border: solid white 2px;
}

.yellow {
    background: yellow;
    border: solid cyan 2px;
}
