<!DOCTYPE html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div>
        <h1>MOVIE DATABASE</h1>
        <p>Search for a Movie below:</p>
        <form action="/movieLookup"  method="POST">
            <input type="text" name="movieName" placeholder="Movie name">
            <input type="submit">
        </form>

    </div>
</body>
</html>