<!DOCTYPE html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div class="container">
        <h1>MOVIE DATABASE</h1>
        <h2 class="warning">Movie Not Found!</h2>
        <form action="/"  method="GET">
            <input type="submit" value="Back to Search">
        </form>
    </div>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</body>
</html>

