<!DOCTYPE html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div>
        <h1>MOVIE DATABASE</h1>
        <h2>Results</h2>

        <% console.log('******* VALUES ********'); %>
        <% let values = Object.values(movies); %>
        <% console.log(values[0]); %> 


    </div>
</body>
</html>