<!DOCTYPE html>
<head>
    <title>Covid 19 Graph</title>
</head>
<body>
    <div>
        <h1>Covid 19 API Graph</h1>
        <p>List Below:</p>

        <canvas id="myChart"></canvas>


        <div>
            <% let table = Object.entries(covidDeaths.table); %>
            <% let dataDate = []; %>
            <% let dataDeaths = [] %>

            <% for (i=0;i<table.length;i++){ %>
                <% dataDate.push(table[i][1].Date); %>
                <% dataDeaths.push(table[i][1].TotalDeaths); %>
            <% }; %>

            <% console.log(dataDate); %>
            <% console.log(dataDeaths); %>

        </div>


        


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
</html>