<!DOCTYPE html>
<head>
    <title>Covid 19 Graph</title>
    <!-- CHART.JS CDN MUST BE ON HEAD -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
    <link rel="stylesheet" href="covid.css">
</head>
<body>
    <div>
        <h1>Covid 19 API Graph</h1>

        <canvas id="myChart"></canvas>

        <div>
            <% let table = Object.entries(covidDeaths.table); %>
            <% let dataDate = []; %>
            <% let dataDeaths = [] %>

            <% for (i=0;i<table.length;i++){ %>
                <% dataDate.push(table[i][1].Date); %>
                <% dataDeaths.push(table[i][1].TotalDeaths); %>
            <% }; %>

        <div id="dataDate"><% dataDate %></div>
        <div id="dataDeaths"><% dataDeaths %></div>

        <% console.log(Object.values(dataDate)); %>
        <% console.log(Object.values(dataDeaths)); %>

        </div>

    </div>
        
    <script src="script.js"></script>
    
</body>
</html>