
body {
    background-color: tan;
    font-size: 1.6rem;
    color: ;
}

.dark {
    background-color: black;
    color: white;
    border: solid white 2px;
}

.yellow {
    background: yellow;
    border: solid cyan 2px;
}

/* SCORE EXERCISE */
div, input, button, span {
    background-color: lemonchiffon;
    border: 2px solid black;
}

div {
    width: 30%;
}

.winner {
    background: yellow;
    color: green;
}

span {
    padding: 10px;
}

input {
    font-size: 80%;
    width: 40px;
}

button {
    font-size: 70%;
}

.lisChange {
    color: yellow;
    background: grey;
}

li {
    width: 14%;
}