html {
    height: 100%;
    
}

body {
    background: url(https://images.unsplash.com/photo-1465228598882-f82e86db5842?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
    background-size: cover;
    background-position: center;
    font-family: Georgia;

}

#box {
    
    margin-top: 20%;
    margin-left: 10%;
    /* margin-left: 200px; */
    /* margin-right: 25px;  */
    /* padding: 25px 0px 25px 0px;  */
    color: white;
    background-color: #6b4f2f69;
    width: 70%;
    /* text-align: center; */
    align-self: center;
}

hr {
    width: 80%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1 {
    font-size: 70px;
    text-shadow: 0px 2px 1px green,    
    0px 4px 7px saddlebrown,
    0px 10px 13px springgreen;
}

