.formStyle {
    width: 50%;
    margin: 35px auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.card-body a{
    margin-left: 33%;
}

.card-footer p {
    font-style: italic;
}

